.action-feed-entry {
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
    padding: 15px 10px;
    margin-bottom: 3px;
    font-size: 50px;
    -unity-font-style: bold;
    border-radius: 3px;
}

#ActionFeedContainer {
}

/* Round UI */
#RoundStatus {
    color: white;
    font-size: 35px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

#TeamStatus {
    color: white;
    font-size: 35px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

#MatchWinner {
    color: white;
    font-size: 50px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}
